<%= error_messages_for @document %>

<div class="box tabular">
  <p><%= f.select :category_id, DocumentCategory.active.collect{|c| [c.name, c.id]}, {}, {class: "select2", :style => 'width: 200px; margin-bottom: 15px;'} %>
  </p>
  <% ActsAsTaggableOn::Tag.order(:name).each_with_index do |t, index| %>
    <p>
      <%= radio_button_tag("document[tag_list]", t.name, checked = (@document.tags.count == 0 && index == 0) ? true : (@document.tags.include?(ActsAsTaggableOn::Tag.where(name: t.name).first)), options = {style: "float: left; margin-top: 5px !important;"})  %>
      <%= label_tag("document[tag_list]", t.name, style: 'float: left; text-align: left; width: auto;') %>
    <br/>
    </p>
  <% end %>
  <br/>

  <% if f.object.project && f.object.project.is_public %>
    <% initial_private = f.object.visible_to_public.nil? ? false : !f.object.visible_to_public %>
    <p style="display: none;"><%= f.check_box :visible_to_public, { checked: !initial_private } %></p>
    <p>
      <%= radio_button_tag('document_private', true, initial_private, style: 'float: left; margin-top: 5px !important;') %>
      <%= label_tag('document_private_true', style: 'float: left; text-align: left; width: auto;') do %>
        <%= tag.i(class: 'fa fa-lock', style: 'margin-right: 5px;') %>
        <%= I18n.t('document_private') %>
      <% end %>
      <%= radio_button_tag('document_private', false, !initial_private, style: 'float: left; margin-top: 5px !important;') %>
      <%= label_tag('document_private_false', I18n.t('document_public'), style: 'float: left; text-align: left; width: auto;') %>
    </p>
  <% else %>
    <p style="display: none;"><%= f.check_box :visible_to_public, { checked: false } %></p>
  <% end %>

  <p>
    <%= f.check_box :visible_in_timeline, { checked: @document.visible_in_timeline, label: '', style: "float: left; margin-top: 5px !important;" } %>
    <label for="visible_in_timeline" style="float: left; text-align: left; width: auto;"><%= I18n.t("field_visible_in_timeline") %></label>
  </p>

  <p>
    <%= f.check_box :notifications_disabled, { checked: @document.notifications_disabled, label: '', style: "float: left; margin-top: 5px !important;" } %>
      <label for="notifications_disabled" style="float: left; text-align: left; width: auto;"><%= I18n.t("field_notifications_disabled") %></label>
  </p>

  <% if @project && @project.parent %>
    <p>
      <%= f.check_box :notify_users_in_parent_projects, { checked: (f.object.notify_users_in_parent_projects || false), label: '', style: "float: left; margin-top: 5px !important;" } %>
      <label for="notify_users_in_parent_projects" style="float: left; text-align: left; width: auto;"><%= I18n.t("field_notify_users_in_parent_projects") %></label>
    </p>
  <% end %>
</div>

<% render partial: 'documents/datacite/search' %>

<div class="box tabular" style="position: relative;">
  <% if f.object.new_record? %>
    <p>
      <%= radio_button_tag :mode, 'manual', true, { style: "float: left; margin-top: 5px !important;" } %>
      <label for="mode_manual" style="float: left; text-align: left; width: auto;"><%= I18n.t("field_manual_document") %></label>
    </p>
    <p>
      <%= radio_button_tag :mode, 'hal', false, { style: "float: left; margin-top: 5px !important;" } %>
      <label for="mode_hal" style="float: left; text-align: left; width: auto;"><%= I18n.t("field_hal") %></label>
    </p>
    <p style="margin-bottom: 15px;">
      <%= radio_button_tag :mode, 'datacite', false, { style: "float: left; margin-top: 5px !important;" } %>
      <label for="mode_datacite" style="float: left; text-align: left; width: auto;"><%= I18n.t("field_datacite") %></label>
    </p>
  <% end %>

  <%= render :partial => 'documents/document_fields', :locals => {:f => f} %>

  <p><%= f.text_field :url_to %></p>
  <% if @document.new_record? %>
    <div class=" tabular">
    <p><label><%=l(:label_attachment_plural)%></label><%= render :partial => 'attachments/form', :locals => {:container => @document} %></p>
    </div>
  <% else %>
    <div class=" tabular">
      <%= link_to_attachments @document %>
      <div class=" tabular">
        <p><label><%=l(:label_attachment_plural)%></label><%= render :partial => 'attachments/form', :locals => {:container => @document} %></p>
      </div>
    </div>
  <% end %>

</div>
